/* Fonts */
$PRIMARY_FONT: 'Roboto', Sans-Serif;

/* Colors */
$LAKE_THUN: #47bede;
$KIKORANGI_BLUE: #344bc4;
$FADING_NIGHT: #317ad4;
$SUNBURST: #fac187;
$BEER: #f7891b;
$PHILIPPINE_ORANGE: #ff7300;
$SKIRRET_GREEN: #54c242;
$STADIUM_LAWN: #99ff5e;
$REDDISH: #c44343;
$FUSION_RED: #ff5e5e;
$KANZO_ORANGE: #ff8938;
$EASTER_PURPLE: #c46efa;
$VIVID_SKY_BLUE: #00d2ff;
$VOID: #041226;
$NINJA: #00050c;
$ICED_LAVENDER: #c2c6de;
$HUELVENO_HORIZON: #16b5e7;
$AQUA_GREEN: #14e399;
$HOKKAIDO_LAVENDER: #743ad5;
$LAVENDER_BLUE: #cfcbff;
$PALE_WISTERIA: #bcc5e8;
$LUSTFUL_WISHES: #d53a9d;
$NEON_BLUE: #05d8f5;
$MAXIMUM_PURPLE: #703787;
$BLACK_MARKET: #252545;
$SZ0LL0SI_GRAPE: #7612f6;
$GHOST_WHITE: #f7f8fc;
$ANTARCTIC_DEEP: #363740;
$MISCHKA: #a4a6b3;
$STOIC_WHITE: #dde2ff;
$ALPINE_GOAT: #f0f1f7;
$DARK_SHAMROCK: #29cc97;
$FLOR_LILA: #dfe0eb;
$FLAT_ALUMINUM: #c5c7cd;
$BRILLIANT_WHITE: #eef1fc;
$BLUE_OYSTER_CULT: #5e72e4;
$RURIKON_BLUE: #172b4d;
$DEUTZIA_WHITE: #f7fafc;
$URBAN_VIBES: #8898aa;
$IRON: #5e5e5e;
$GAINSBORO: #dcdcdc;
$DARK_SOULS: #a3a3a3;
$UNICORN_SILVER: #e8e8e8;
$MORE_THAN_A_WEEK: #8d8d8d;
$SILVER_POLISH: #c6c6c6;
$ZHEN_ZHU_BAI_PEARL: #f7f9fa;
$SHADOWED_STEEL: #4b4b4b;
$BELUGA: #f3f3f3;
